<h1>Listing docker_containers</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Port</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @docker_containers.each do |con| %>
      <% status = "Stop" %>
      <% status = "Start" if con.json["State"]["Running"].to_s == "true" %>
      <tr>
        <td><%= con.id[0..11] %></td>
        <td><%= con.json["Name"].gsub(/\//, "")%></td>
        <td><%= con.json["HostConfig"]["PortBindings"]["8000/tcp"][0]["HostPort"] %></td>
        <td><%= con.json["Config"]["Image"]%></td>
        <td><%= status %></td>
        <td><%= link_to 'start', start_docker_containers_path + "?cid=#{con.id}" %></td>
        <td><%= link_to 'stop', stop_docker_containers_path + "?cid=#{con.id}" %></td>
        <td><%= link_to 'remove', remove_docker_containers_path + "?cid=#{con.id}" %></td>
        <td><%= link_to 'commit', commit_docker_containers_path + "?cid=#{con.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Images', docker_images_path %>
