<!-- Commit Modal Dialog -->
<div class="modal fade" id="commitModal" tabindex="-1" role="dialog" aria-labelledby="commitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">保存</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
      <%= form_tag(commit_containers_path, :method => :post) do %> 
      <div class="modal-body">
        <div class="form-group">
          <label id="label-message" for="message-text" class="control-label"></label>
          <%= text_field_tag :image_name, "", :class => "form-control" %>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag :overwrite, true, false, {:onclick => "switch_checkbox()"} %>上書き
          </label>
        </div>
        <%= hidden_field_tag :save_cid %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= submit_tag "保　存", :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
<!--
$('#commitModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var param = button.data('whatever').split('|')
  var cname = param[0]
  var cid = param[1]
  var image = param[2]
  $('#save_cid').val(cid);
  var modal = $(this)
  modal.find('.modal-title').text("コンテナ " + "' " + cname + " '" + " をイメージとして保存");
  $("#label-message").html("イメージ名（元イメージ名：" + image + "）");
  setTimeout(function() {$('#image_name').focus();}, 1000);
})

function switch_checkbox() {
  var val = $("#overwrite:checked").val();
  if(val == "true") {
    $('#image_name').attr('readonly', true);
  } else {
    $('#image_name').attr('readonly', false);
  }
}
// -->
</script>
