<h3>コンテナ一覧</h3>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>コンテナ名 ( 元イメージ )</th>
      <th>ORCAポート番号</th>
      <th>オーナー</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |con| %>
      <% container = Container.find_by(container_id: con.id[0..11].to_s) %>
      <% state = Container.get_state_word(con.json["State"]["Running"].to_s) %>
      <% color = Container.get_state_color(con.json["State"]["Running"].to_s) %>
      <tr>
        <td><%= con.id[0..11] %></td>
        <td>
          <b><%= con.json["Name"].gsub(/\//, "")%></b>  ( <%= con.json["Config"]["Image"]%> )
        </td>
        <td><%= con.json["HostConfig"]["PortBindings"]["8000/tcp"][0]["HostPort"] %></td>
        <td><%= container.author %></td>
        <td><i class="fa fa-circle" style="color:<%=color%>}"></i> <%= state %></td>
        <td>
          <% if state == "running" %>
            <%= link_to 'Stop', stop_containers_path + "?cid=#{con.id}", :class => 'btn btn-warning' %>
          <% else %>
            <%= link_to 'Start', start_containers_path + "?cid=#{con.id}", :class => 'btn btn-info' %>
          <% end %>
        </td>
        <td><%= link_to 'Remove', remove_containers_path + "?cid=#{con.id}", :class => 'btn btn-danger' %></td>
        <td><%= link_to 'Commit', commit_containers_path + "?cid=#{con.id}", :class => 'btn btn-primary' %></td>
        <td>
          <button type="button" class="btn btn-dafault" data-toggle="modal" data-target="#sshModal" 
           data-whatever="<%=con.json['Name'].gsub(/\//, '')%>">SSH</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'ssh_modal' %>
