<h3>コンテナ一覧</h3>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>コンテナ名</th>
      <th>ORCAポート番号</th>
      <th>イメージ</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |con| %>
      <% status = "Stop" %>
      <% status = "Start" if con.json["State"]["Running"].to_s == "true" %>
      <tr>
        <td><%= con.id[0..11] %></td>
        <td><%= con.json["Name"].gsub(/\//, "")%></td>
        <td><%= con.json["HostConfig"]["PortBindings"]["8000/tcp"][0]["HostPort"] %></td>
        <td><%= con.json["Config"]["Image"]%></td>
        <td><%= status %></td>
        <td><%= link_to 'start', start_containers_path + "?cid=#{con.id}", :class => 'btn btn-info' %></td>
        <td><%= link_to 'stop', stop_containers_path + "?cid=#{con.id}", :class => 'btn btn-warning' %></td>
        <td><%= link_to 'remove', remove_containers_path + "?cid=#{con.id}", :class => 'btn btn-danger' %></td>
        <td><%= link_to 'commit', commit_containers_path + "?cid=#{con.id}", :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

