<div style="margin-bottom:10px;">
  <h4 style="display:inline; margin-right:30px;">コンテナ一覧</h4>
  <select id="userlist" class="form-control" 
   style="width:150px; display: inline;" onchange="narrow_down()">
    <option value="all">全て</option>
    <% @users.each do |u| %>
      <% selected = "" %>
      <% selected = "selected" if @selected_user == u %>
      <option <%=selected%>><%=u%></option>
    <% end %>
  </select>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>コンテナ名 ( 元イメージ )</th>
      <th>ORCAポート番号</th>
      <th>オーナー</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |con| %>
      <% cname = con.json["Name"].gsub(/\//, "").split('___')[0] %>
      <% author = con.json["Name"].gsub(/\//, "").split('___')[1] %>
      <% state = Container.get_state_word(con.json["State"]["Running"].to_s) %>
      <% color = Container.get_state_color(con.json["State"]["Running"].to_s) %>
      <tr>
        <td><%= con.id[0..11] %></td>
        <td>
          <b><%= cname %></b>  ( <%= con.json["Config"]["Image"]%> )
        </td>
        <td><%= con.json["HostConfig"]["PortBindings"]["8000/tcp"][0]["HostPort"] %></td>
        <td><%= author %></td>
        <td><i class="fa fa-circle" style="color:<%=color%>}"></i> <%= state %></td>
        <td>
          <% if state == "running" %>
            <%= link_to '停止', stop_containers_path + "?cid=#{con.id}&author=#{@selected_user}", 
                :class => 'btn btn-warning btn-xs', :style => 'width:70px;' %>
          <% else %>
            <%= link_to '起動', start_containers_path + "?cid=#{con.id}&author=#{@selected_user}", 
                :class => 'btn btn-info btn-xs', :style => 'width:70px;' %>
          <% end %>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-xs" style="width:70px;" data-toggle="modal" 
            data-target="#removeModal" data-whatever="<%= cname + '|' + author + '|' + con.id %>">削除</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" style="width:70px;" data-toggle="modal" 
            data-target="#commitModal" data-whatever="<%= cname + '|' + con.id %>">保存</button>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-xs" style="width:70px;" data-toggle="modal" 
            data-target="#sshModal" data-whatever="<%= cname %>">SSH</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'remove_modal' %>
<%= render 'ssh_modal' %>
<%= render 'commit_modal' %>

<script type="text/javascript">
<!--
  function narrow_down() {
    var user = $("#userlist").val();
    window.location.href = "<%=containers_path%>?author=" + user;
  }
// -->
</script>
