<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-4">
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-4" style="margin-top:70px;">
    <div align="center">
      <img src="../superpod.png">
    </div>
    <br/>
    <div align="center">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "メールアドレス", :style => "width:300px;" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "パスワード", :style => "width:300px;" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %> ログインを記憶
        </div>
      <% end %>
      <br/>
      <%= f.submit "Log in", :class => "btn btn-info", :style => "width:100px;" %>
      <br/>
    </div>

  </div>
  <div class="col-md-4">
  </div>
  <% end %>
</div>
