<h1>Listing docker_images</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @docker_images.each do |img| %>
      <tr>
        <td><%= img.id[0..10] %></td>
        <td><%= img.info["RepoTags"].to_s.gsub(/\"|\[|\]/, "") %></td>
        <td><%= link_to 'Launch', launch_docker_images_path + "?image=" + img.info["RepoTags"].to_s.gsub(/\"|\[|\]/, "") %></td>
        <td><%= link_to 'Remove', remove_docker_images_path + "?imgid=" + img.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Containers', docker_containers_path %>
