<h3>イメージ一覧</h3>

<table class="table table-hover table-bordered" style="width:70%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>イメージ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |img| %>
      <% img_name  = img.info["RepoTags"].to_s.gsub(/\"|\[|\]/, "") %>
      <% img_id = img.id %>
      <tr>
        <td><%= img_id[0..10] %></td>
        <td><%= img_name %></td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#launchModal" 
           data-whatever="<%= img_name + "|" + img_id %>">Launch</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeModal" 
           data-whatever="<%= img_name + "|" + img_id %>">Remove</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'launch_modal' %>
<%= render 'remove_modal' %>
